@using Redis.Dashboard.Web.Models;

@model HomeModel


<div id="page-wrapper">
    @if (Model != null && Model.ActiveServerGroup != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h2 style="display: inline;">@Model.ActiveServerGroup.GroupTitle - @Model.ActiveServerGroup.ServerGroup.Title</h2>
                </div>
            </div>
        </div>
        @Html.Partial("Totals")
        <div class="row">
            @Html.Partial("ServerInfo")
        </div>

        <script>
            deferCall(function () { LoadData('/LoadData/@Model.ActiveServerGroup.ServerGroup.FriendlyUrl') });
        </script>
    }
</div>
