    <!-- /.navbar-top-links -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="active">
                <a href="#">Staging<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                    <li>
                        <a href="#" class="active">Farm 01</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#">Production<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Farm 01</a>
                    </li>
                    <li>
                        <a href="#">Farm 02</a>
                    </li>
                    <li>
                        <a href="#">Farm 03</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
