<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microchip fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{ redisInfo.Totals.TotalMemory }</div>
                        <div>Total Memory</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clone fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{ redisInfo.Totals.TotalKeys }</div>
                        <div>Total Keys</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gear fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{ redisInfo.Totals.TotalOps } /sec</div>
                        <div>Ops/sec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{ redisInfo.Totals.TotalClients }</div>
                        <div>Total Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-info fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>&nbsp;</div>
                        <div class="big">{ redisInfo.Totals.InfoCluster }</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bullseye fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="big">{ redisInfo.Totals.TotalHits } / { redisInfo.Totals.TotalMisses }</div>
                        <div>{ redisInfo.Totals.PercentageHits } / { redisInfo.Totals.PercentageMisses }</div>
                        <div>Total Hits/Misses</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-exchange fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="big">{ redisInfo.Totals.TotalInputKbps } / { redisInfo.Totals.TotalOutputKbps }</div>
                        <div>In/Out in kbps/sec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
