.page-header{
    margin-top: 15px;
}

.redis-server-info-panel tr.active td{
    border-top: 0px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}
.redis-server-info-panel tr td{
    font-size: smaller;
}

.redis-server-info-panel tr.expanded{
    display: table-row;
}
.redis-server-info-panel tr.collapsed{
    display: none;
}